NODE_ENV=DEVELOPMENT

MYSQL_HOST=172.104.188.248
MYSQL_PORT=3306
MYSQL_USER=legrand
MYSQL_PASS=Alfa2024
MYSQL_DB=legrandapp
MYSQL_DATASTORE=legrandMysql

MAILJET_API_KEY=7bbb77dcb58a50d9af50de0119b5ae63
MAILJET_SECRET_KEY=a54b7d53f032f1971a5888656a9618db